<html>
  <head>
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-eval'"> -->
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self';
            script-src 'self' https://js.stripe.com/v3/;
            style-src 'self' 'unsafe-inline';"
    /> -->

    <script src="https://js.stripe.com/v3/"></script>

    <!-- <script src='{{ url_for("static", path="stripe.js")}}'></script> -->
  </head>
  <body>
    <h1>it's just for testing</h1>
    <button id="checkout-premium">Subscribe Premium</button>
    <button id="checkout-basic">Subscribe Basic</button>

    <script>
      var createCheckoutSession = function(priceId) {
    return fetch("/create-checkout-session", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        priceId: priceId
      })
    }).then(function(result) {
      return result.json();
    });
  };

  const PREMIUM_PRICE_ID = "price_1MRiuuFdWhH1rCkWtJhBBpZ6";
    const BASIC_PRICE_ID = "price_1MRivrFdWhH1rCkW2oHGGIDU";
    const stripe = Stripe(
      "pk_test_51MRicJFdWhH1rCkW5WXMg7AwH3clrw4raiqeNjkBxr2imaaHAqTyd8fJrjDVDFD2CJ164wxJXHpQLSV8yUMbs1ms004ND7YDSq"
    );

document.addEventListener("DOMContentLoaded", function(event) {
    document
    .getElementById("checkout-premium")
    .addEventListener("click", function(evt) {
        createCheckoutSession(PREMIUM_PRICE_ID).then(function(data) {
            stripe
                .redirectToCheckout({
                    sessionId: data.sessionId
                });
            });
        });
    
    document
    .getElementById("checkout-basic")
    .addEventListener("click", function(evt) {
        createCheckoutSession(BASIC_PRICE_ID).then(function(data) {
            stripe
                .redirectToCheckout({
                    sessionId: data.sessionId
                });
            });
        });

    const billingButton = document.getElementById("manage-billing");
    if (billingButton) {
        billingButton.addEventListener("click", function(evt) {
        fetch("/create-portal-session", {
            method: "POST"
        })
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {
                window.location.href = data.url;
            });
        })
    }
});
    </script>
    


  </body>
</html>
